<section class="cta-block">
  <div class="page-width">
    {% if section.settings.heading != blank %}
      <h2>{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.text != blank %}
      <p>{{ section.settings.text }}</p>
    {% endif %}
    {% if section.settings.button_label != blank %}
      <a href="{{ section.settings.button_link | default: '/cart' }}" class="btn btn--primary btn--large">{{ section.settings.button_label }}</a>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "CTA block",
  "class": "section-cta-block",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Ready to Help Your Child Stay Dry?"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Subtext",
      "default": "Get the NightGuard Bedwetting Alarm Today!"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Get it now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ]
}
{% endschema %}
